.spacer {
  flex: 1 1 auto;
}

.league-toolbar {
  background-color: white;
  color: black;
  padding: 10px 0px 10px 0px;

  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.sports-maps-logo-text {
  font-family: Cambria;
  color: #818586;
  font-size: 200%;
}