.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: white;
  color: black;
  /* margin-bottom: 20px; */
  margin-top: 10px;
}

.sports-maps-logo-text {
  font-family: Cambria;
  color: #818586;
  font-size: 200%;
}

.github-button {
  /* background-color: #BAE2C6; */
  background-color: black;
}

.github-button-image {
  vertical-align: middle;
  margin-bottom: 3px;
}