<mat-toolbar color="primary" class="mat-elevation-z8">
  <a mat-button routerLink="">Maps App</a>

  <a mat-button routerLink="mlb">MLB</a>
  <a mat-button routerLink="nhl">NHL</a>

  <a mat-button routerLink="http-requests">Http Request Practice</a>
  <a mat-button routerLink="parent-child">Parent-Child Relationship Practice</a>

  <!--TODO: make the github link look like https://material.angular.io/components/divider/api-->
  <div class="spacer"></div>
  <a mat-raised-button color="accent">Github</a>
</mat-toolbar>
