<mat-toolbar class="toolbar">
  <img src="../../assets/sports-maps-logo/logo.png" alt="logo" width="228" height="45">
  <div class="spacer"></div>

  <!--TODO: make the github link look like https://material.angular.io/components/divider/api-->
  <!-- <a mat-raised-button color="accent" target="_blank"
    href="https://github.com/jsmit2239/sports-maps-ui-angular">Github</a> -->


  <a mat-raised-button color="accent" class="github-button" target="_blank"
    href="https://github.com/jsmit2239/sports-maps-ui-angular">
    <span><img class="github-button-image" src="../../assets/github/github-logo.svg">
      GitHub
    </span>
  </a>
</mat-toolbar>