<mat-checkbox
  #americanLeagueCheckBox
  [checked]="americanLeagueFilterSelected"
  (change)="onAmericanLeagueFilterChanged(americanLeagueCheckBox.checked)"
  >American</mat-checkbox
>

<mat-checkbox
  #nationalLeagueCheckBox
  [checked]="nationalLeagueFilterSelected"
  (change)="onNationalLeagueFilterChanged(nationalLeagueCheckBox.checked)"
  >National</mat-checkbox
>

<mat-checkbox
  #alEastDivisionCheckBox
  [disabled]="!americanLeagueDivisionFiltersSelectable"
  [checked]="alEastDivisionFilterSelected"
  (change)="onALEastDivisionFilterChanged(alEastDivisionCheckBox.checked)"
  >AL East</mat-checkbox
>

<mat-checkbox
  #alCentralDivisionCheckBox
  [disabled]="!americanLeagueDivisionFiltersSelectable"
  [checked]="alCentralDivisionFilterSelected"
  (change)="onALCentralDivisionFilterChanged(alCentralDivisionCheckBox.checked)"
  >AL Central</mat-checkbox
>

<mat-checkbox
  #alWestDivisionCheckBox
  [disabled]="!americanLeagueDivisionFiltersSelectable"
  [checked]="alWestDivisionFilterSelected"
  (change)="onALWestDivisionFilterChanged(alWestDivisionCheckBox.checked)"
  >AL West</mat-checkbox
>

<mat-checkbox
  #nlEastDivisionCheckBox
  [disabled]="!nationalLeagueDivisionFiltersSelectable"
  [checked]="nlEastDivisionFilterSelected"
  (change)="onNLEastDivisionFilterChanged(nlEastDivisionCheckBox.checked)"
  >NL East</mat-checkbox
>

<mat-checkbox
  #nlCentralDivisionCheckBox
  [disabled]="!nationalLeagueDivisionFiltersSelectable"
  [checked]="nlCentralDivisionFilterSelected"
  (change)="onNLCentralDivisionFilterChanged(nlCentralDivisionCheckBox.checked)"
  >NL Central</mat-checkbox
>

<mat-checkbox
  #nlWestDivisionCheckBox
  [disabled]="!nationalLeagueDivisionFiltersSelectable"
  [checked]="nlWestDivisionFilterSelected"
  (change)="onNLWestDivisionFilterChanged(nlWestDivisionCheckBox.checked)"
  >NL West</mat-checkbox
>

<mat-slide-toggle
  #mapViewToggle
  [checked]="mapView"
  (change)="onMapViewChanged(mapViewToggle.checked)"
  >Map</mat-slide-toggle
>

<div *ngIf="mapView">
  <agm-map [latitude]="38" [longitude]="-94" [zoom]="5">
    <agm-marker
      *ngFor="let team of getMlbTeamDetails(); let i = index"
      [latitude]="team.venue.latitude"
      [longitude]="team.venue.longitude"
      [iconUrl]="$any(iconMap.get(team.abbreviation))"
    >
    </agm-marker>
  </agm-map>
</div>

<div *ngIf="!mapView">
  <table>
    <tr>
      <th>Team</th>
      <th>Stadium</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let team of getMlbTeamDetails()">
      <td>{{ team.name }}</td>
      <td>{{ team.venue.name }}</td>
      <td>{{ team.venue.address }}</td>
    </tr>
  </table>
</div>
