<!-- TODO: FILTERS -->

<mat-slide-toggle
  #mapViewToggle
  [checked]="mapView"
  (change)="onMapViewChanged(mapViewToggle.checked)"
  >Map</mat-slide-toggle
>

<div *ngIf="mapView">
  <agm-map [latitude]="38" [longitude]="-94" [zoom]="5">
    <agm-marker
      *ngFor="let team of getNflTeamDetails(); let i = index"
      [latitude]="team.venue.latitude"
      [longitude]="team.venue.longitude"
      [iconUrl]="$any(iconMap.get(team.abbreviation))"
    >
    </agm-marker>
  </agm-map>
</div>

<div *ngIf="!mapView">
  <table>
    <tr>
      <th>Team</th>
      <th>Stadium</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let team of getNflTeamDetails()">
      <td>{{ team.name }}</td>
      <td>{{ team.venue.name }}</td>
      <td>{{ team.venue.address }}</td>
    </tr>
  </table>
</div>
