<div class="league-page-container">
  <div class="map-options-bar-container">
    <button
      class="filter-button"
      (click)="displayFilterOverlay = !displayFilterOverlay"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      Filter
    </button>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="displayFilterOverlay"
      (overlayOutsideClick)="displayFilterOverlay = false"
    >
      <div class="filter-overlay-container">
        <p class="filter-heading">Conference</p>
        <mat-checkbox
          class="filter-checkbox"
          #afcConferenceCheckBox
          [checked]="afcConferenceFilterSelected"
          (change)="onAfcConferenceFilterChanged(afcConferenceCheckBox.checked)"
          >AFC</mat-checkbox
        >

        <mat-checkbox
          class="filter-checkbox"
          #nfcConferenceCheckBox
          [checked]="nfcConferenceFilterSelected"
          (change)="onNfcConferenceFilterChanged(nfcConferenceCheckBox.checked)"
          >NFC</mat-checkbox
        >
        <br />
        <p class="filter-heading">Division</p>
        <mat-checkbox
          class="filter-checkbox"
          #afcEastDivisionCheckBox
          [disabled]="!afcConferenceDivisionFiltersSelectable"
          [checked]="afcEastDivisionFilterSelected"
          (change)="
            onAfcEastDivisionFilterChanged(afcEastDivisionCheckBox.checked)
          "
          >AFC East</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #afcNorthDivisionCheckBox
          [disabled]="!afcConferenceDivisionFiltersSelectable"
          [checked]="afcNorthDivisionFilterSelected"
          (change)="
            onAfcNorthDivisionFilterChanged(afcNorthDivisionCheckBox.checked)
          "
          >AFC North</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #afcSouthDivisionCheckBox
          [disabled]="!afcConferenceDivisionFiltersSelectable"
          [checked]="afcSouthDivisionFilterSelected"
          (change)="
            onAfcSouthDivisionFilterChanged(afcSouthDivisionCheckBox.checked)
          "
          >AFC South</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #afcWestDivisionCheckBox
          [disabled]="!afcConferenceDivisionFiltersSelectable"
          [checked]="afcWestDivisionFilterSelected"
          (change)="
            onAfcWestDivisionFilterChanged(afcWestDivisionCheckBox.checked)
          "
          >AFC West</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #nfcEastDivisionCheckBox
          [disabled]="!nfcConferenceDivisionFiltersSelectable"
          [checked]="nfcEastDivisionFilterSelected"
          (change)="
            onNfcEastDivisionFilterChanged(nfcEastDivisionCheckBox.checked)
          "
          >NFC East</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #nfcNorthDivisionCheckBox
          [disabled]="!nfcConferenceDivisionFiltersSelectable"
          [checked]="nfcNorthDivisionFilterSelected"
          (change)="
            onNfcNorthDivisionFilterChanged(nfcNorthDivisionCheckBox.checked)
          "
          >NFC North</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #nfcSouthDivisionCheckBox
          [disabled]="!nfcConferenceDivisionFiltersSelectable"
          [checked]="nfcSouthDivisionFilterSelected"
          (change)="
            onNfcSouthDivisionFilterChanged(nfcSouthDivisionCheckBox.checked)
          "
          >NFC South</mat-checkbox
        >
        <mat-checkbox
          class="filter-checkbox"
          #nfcWestDivisionCheckBox
          [disabled]="!nfcConferenceDivisionFiltersSelectable"
          [checked]="nfcWestDivisionFilterSelected"
          (change)="
            onNfcWestDivisionFilterChanged(nfcWestDivisionCheckBox.checked)
          "
          >NFC West</mat-checkbox
        >
      </div>
    </ng-template>

    <mat-slide-toggle
      class="map-slide"
      #mapViewToggle
      [checked]="mapView"
      (change)="onMapViewChanged(mapViewToggle.checked)"
      >Map</mat-slide-toggle
    >
  </div>

  <div class="map-container" *ngIf="mapView">
    <agm-map class="content-map" [latitude]="42" [longitude]="-94" [zoom]="4.4">
      <agm-marker
        *ngFor="let team of getNflTeamDetails(); let i = index"
        [latitude]="team.venue.latitude"
        [longitude]="team.venue.longitude"
        [iconUrl]="$any(iconMap.get(team.abbreviation))"
      >
      </agm-marker>
    </agm-map>
  </div>

  <div class="table-container" *ngIf="!mapView">
    <table class="address-table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Stadium</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of getNflTeamDetails()">
          <td>{{ team.name }}</td>
          <td>{{ team.venue.name }}</td>
          <td>{{ team.venue.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
