<mat-checkbox
  #easternConferenceCheckBox
  [checked]="easternConferenceFilter"
  (change)="onEasternConferenceFilterChanged(easternConferenceCheckBox.checked)"
  >Eastern</mat-checkbox
>

<mat-checkbox
  #westernConferenceCheckBox
  [checked]="westernConferenceFilter"
  (change)="onWesternConferenceFilterChanged(westernConferenceCheckBox.checked)"
  >Western</mat-checkbox
>

<div *ngIf="easternConferenceFilter">
  <mat-checkbox
    #atlanticDivisionCheckBox
    [checked]="atlanticDivisionFilter"
    (change)="onAtlanticDivisionFilterChanged(atlanticDivisionCheckBox.checked)"
    >Atlantic</mat-checkbox
  >
  <mat-checkbox
    #metropolitanDivisionCheckBox
    [checked]="metropolitanDivisionFilter"
    (change)="
      onMetropolitanDivisionFilterChanged(metropolitanDivisionCheckBox.checked)
    "
    >Metropolitan</mat-checkbox
  >
</div>

<div *ngIf="westernConferenceFilter">
  <mat-checkbox
    #centralDivisionCheckBox
    [checked]="centralDivisionFilter"
    (change)="onCentralDivisionFilterChanged(centralDivisionCheckBox.checked)"
    >Central</mat-checkbox
  >
  <mat-checkbox
    #pacificDivisionCheckBox
    [checked]="pacificDivisionFilter"
    (change)="onPacificDivisionFilterChanged(pacificDivisionCheckBox.checked)"
    >Pacific</mat-checkbox
  >
</div>

<mat-slide-toggle
  #mapViewToggle
  [checked]="mapView"
  (change)="onMapViewChanged(mapViewToggle.checked)"
  >Map</mat-slide-toggle
>

<div *ngIf="mapView">
  <agm-map [latitude]="42" [longitude]="-94" [zoom]="4.6">
    <agm-marker
      *ngFor="let team of getNhlTeamDetails(); let i = index"
      [latitude]="team.venue.latitude"
      [longitude]="team.venue.longitude"
      [iconUrl]="$any(iconMap.get(team.abbreviation))"
    >
    </agm-marker>
  </agm-map>
</div>

<div *ngIf="!mapView">
  <table>
    <tr>
      <th>Team</th>
      <th>Arena</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let team of getNhlTeamDetails()">
      <td>{{ team.name }}</td>
      <td>{{ team.venue.name }}</td>
      <td>{{ team.venue.address }}</td>
    </tr>
  </table>
</div>
