<div class="league-page-container">
  <div class="map-options-bar-container">
    <button
      class="filter-button"
      (click)="displayFilterOverlay = !displayFilterOverlay"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      Filter
    </button>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="displayFilterOverlay"
      (overlayOutsideClick)="displayFilterOverlay = false"
    >
      <div class="filter-overlay-container">
        <p class="filter-heading">Conference</p>
        <mat-checkbox
          class="filter-checkbox"
          #easternConferenceCheckBox
          [checked]="easternConferenceFilterSelected"
          (change)="
            onEasternConferenceFilterChanged(easternConferenceCheckBox.checked)
          "
          >Eastern</mat-checkbox
        >

        <mat-checkbox
          class="filter-checkbox"
          #westernConferenceCheckBox
          [checked]="westernConferenceFilterSelected"
          (change)="
            onWesternConferenceFilterChanged(westernConferenceCheckBox.checked)
          "
          >Western</mat-checkbox
        >
        <br />
        <p class="filter-heading">Division</p>
        <mat-checkbox
          class="filter-checkbox"
          #atlanticDivisionCheckBox
          [disabled]="!easternConferenceDivisionFilterSelectable"
          [checked]="atlanticDivisionFilterSelected"
          (change)="
            onAtlanticDivisionFilterChanged(atlanticDivisionCheckBox.checked)
          "
          >Atlantic</mat-checkbox
        >

        <mat-checkbox
          class="filter-checkbox"
          #metropolitanDivisionCheckBox
          [disabled]="!easternConferenceDivisionFilterSelectable"
          [checked]="metropolitanDivisionFilterSelected"
          (change)="
            onMetropolitanDivisionFilterChanged(
              metropolitanDivisionCheckBox.checked
            )
          "
          >Metropolitan</mat-checkbox
        >

        <mat-checkbox
          class="filter-checkbox"
          #centralDivisionCheckBox
          [disabled]="!westernConferenceDivisionFilterSelectable"
          [checked]="centralDivisionFilterSelected"
          (change)="
            onCentralDivisionFilterChanged(centralDivisionCheckBox.checked)
          "
          >Central</mat-checkbox
        >

        <mat-checkbox
          class="filter-checkbox"
          #pacificDivisionCheckBox
          [disabled]="!westernConferenceDivisionFilterSelectable"
          [checked]="pacificDivisionFilterSelected"
          (change)="
            onPacificDivisionFilterChanged(pacificDivisionCheckBox.checked)
          "
          >Pacific</mat-checkbox
        >
      </div>
    </ng-template>

    <mat-slide-toggle
      class="map-slide"
      #mapViewToggle
      [checked]="mapView"
      (change)="onMapViewChanged(mapViewToggle.checked)"
      >Map</mat-slide-toggle
    >
  </div>

  <div class="map-container" *ngIf="mapView">
    <agm-map class="content-map" [latitude]="42" [longitude]="-94" [zoom]="4.4">
      <agm-marker
        *ngFor="let team of getNhlTeamDetails(); let i = index"
        [latitude]="team.venue.latitude"
        [longitude]="team.venue.longitude"
        [iconUrl]="$any(iconMap.get(team.abbreviation))"
      >
      </agm-marker>
    </agm-map>
  </div>

  <div class="table-container" *ngIf="!mapView">
    <!-- <table class="address-table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Arena</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of getNhlTeamDetails()">
          <td>{{ team.name }}</td>
          <td>{{ team.venue.name }}</td>
          <td>{{ team.venue.address }}</td>
        </tr>
      </tbody>
    </table> -->

    <agm-map class="content-map" [latitude]="42" [longitude]="-94" [zoom]="4.4">
      <agm-marker
        *ngFor="let game of nhlSchedule; let i = index"
        [latitude]="game.gameVenueLatitude"
        [longitude]="game.gameVenueLongitude"
      >
        <agm-info-window [disableAutoPan]="false" [isOpen]="true">
          <div class="center-images">
            <img
              class="resize"
              [src]="$any(iconMapByAbbreviation.get(game.awayTeamAbbreviation))"
            />
            <img
              class="resize"
              [src]="$any(iconMapByAbbreviation.get(game.homeTeamAbbreviation))"
            />
          </div>
          <p class="schedule-text">{{ game.gameTime }} ET</p>
          <p class="schedule-text">{{ game.gameVenueName }}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
